@{
    ViewBag.Title = "Home Page";
}
@model List<obligatorioProg3.Models.noticia>

@section styles {
    <style>
        .imagenFondoParaHome {
            background-image: url('/Content/Images/imagenFondoParaHome.jpg');
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 150vh;
            
           
        }


        .card-custom {
            border: 10px solid #0d1b2a;
            border-radius: 5px;
            box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.6); /* efecto sombra para los contornos de la cardd */
            background-color: darkcyan;
            margin: 65px; 
        }

        .btn-primary {
            color: black;
        }


    </style>
}

<main>
    <div class="imagenFondoParaHome">
        <div class="container py-5">
                <div class="row justify-content-center">
                    @foreach (var noticia in Model)
                     {
                        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                            <div class="card card-custom" style="width: 18rem;">
                                <img src="@noticia.imagen" class="card-img-top" alt="Imagen de noticia" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">@noticia.titulo</h5>
                                    <p class="card-text">@noticia.contenido</p>
                                    <p class=" card-text">@noticia.fechaPublicacion</p>
                                    <a href="#" class="btn btn-primary">Leer más...</a>
                                </div>
                            </div>
                        </div>
                        

                     }
                </div>
        </div>
       
    </div>
</main>

